<%= form_with model: @kitten do | f | %>
    <div id="error_explanation">
        <ul>
            <% @kitten.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
    </div>

    <%= f.label :name %><br>
    <%= f.text_field :name%><br>

    <%= f.label :age %><br>
    <%= f.number_field :age%><br>

    <%= f.label :cuteness %><br>
    <%= f.number_field :cuteness%><br>

    <%= f.label :softness %><br>
    <%= f.number_field :softness%><br><br>

    <%= f.submit "Create Kitten" %>
<% end %>

 <%= link_to "Back", kittens_path %>